<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

            	<li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a href="index.html" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-paint-bucket"></i> <span> Create Form </span> </a>
                    <ul class="list-unstyled">
                        
                    </ul>
                </li>

               <!-- <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-light-bulb"></i><span class="label label-primary pull-right">6</span><span> Components </span> </a>
                    <ul class="list-unstyled">
                        <li><a href="components-grid.html">Grid</a></li>
                        <li><a href="components-widgets.html">Widgets</a></li>
                        <li><a href="components-nestable-list.html">Nesteble</a></li>
                        <li><a href="components-range-sliders.html">Range sliders</a></li>
                        <li><a href="components-animation.html">Animation</a></li>
                        <li><a href="components-sweet-alert.html">Sweet Alerts</a></li>
                    </ul>
                </li>

                

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-bar-chart"></i><span class="label label-pink pull-right">10</span><span> Charts </span></a>
                    <ul class="list-unstyled">
                    	<li><a href="chart-flot.html">Flot Chart</a></li>
                        <li><a href="chart-morris.html">Morris Chart</a></li>
                        <li><a href="chart-chartjs.html">Chartjs</a></li>
                        <li><a href="chart-peity.html">Peity Charts</a></li>
                        <li><a href="chart-chartist.html">Chartist Charts</a></li>
                        <li><a href="chart-c3.html">C3 Charts</a></li>
                        <li><a href="chart-nvd3.html"> Nvd3 Charts</a></li>
                        <li><a href="chart-sparkline.html">Sparkline charts</a></li>
                        <li><a href="chart-radial.html">Radial charts</a></li>
                        <li><a href="chart-other.html">Other Chart</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-location-pin"></i><span> Maps </span></a>
                    <ul class="list-unstyled">
                        <li><a href="map-google.html"> Google Map</a></li>
                        <li><a href="map-vector.html"> Vector Map</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-crown"></i><span class="label label-success pull-right">3</span><span> Apps </span></a>
                    <ul class="list-unstyled">
                        <li><a href="apps-inbox.html"> Email</a></li>
                        <li><a href="apps-calendar.html"> Calendar</a></li>
                        <li><a href="apps-contact.html"> Contact</a></li>
                    </ul>
                </li>-->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End --> 