<div class="row">
	<div class="col-sm-12">
		<div class="card-box">
			<div class="col-md-12 form-horizontal">
				<div class="form-group col-md-8">
					<h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
						<p class="text-muted m-b-20 font-13">
							Most common form control, text-based input fields.                         		
						</p>
				</div>
				<div class="form-group col-md-4">
	    			<label class="col-md-3 control-label">Date:</label>
	    			<div class="col-sm-9">
	    				<div class="input-group">
							<input type="text" class="form-control" placeholder="" id="datepicker-autoclose">
							<span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
						</div><!-- input-group -->
	    			</div>
	    		</div>
	    	</div>					
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">                                    
						<div class="col-md-12 m-b-15">
	                        <div class="form-group col-md-4">
	                            <label class="col-md-4 col-md-offset-1 control-label">Sl. No</label>
	                            <div class="col-md-7">
	                                <input type="text" class="form-control" >
	                            </div>
	                        </div>
	                        <div class="form-group col-md-4">
	                            <label class="col-md-4 col-md-offset-1 control-label">Invoice No</label>
	                            <div class="col-md-7">
	                                <input type="text" class="form-control" >
	                            </div>
	                        </div>
	                       	<div class="form-group col-md-4">
	                            <label class="col-md-5 col-md-offset-1 control-label">Value/Quantity</label>
	                            <div class="col-md-6">
	                                <input type="text" class="form-control" >
	                            </div>
	                        </div>
	            		</div>
	            		<div class="col-md-12">
	                        <div class="form-group col-md-6">
	                            <label class="col-md-3 control-label">Party Name</label>
	                            <div class="col-md-9">
	                                <select class="selectpicker" data-live-search="true" data-style="btn-white">
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
									</select>
	                            </div>
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label class="col-md-3 control-label">Station</label>
	                            <div class="col-md-9">
	                                <select class="selectpicker" data-live-search="true" data-style="btn-white">
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
										<option>Mustard</option>
										<option>Ketchup</option>
										<option>Relish</option>
									</select>
	                            </div>
	                        </div>
	            		</div>	
                    </form>
				</div>
				
			</div>
		</div>
	</div>
</div>